<!-- Componentes - Exemplo componente de tabela -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudos VueJS</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        
        <tabela v-bind:titulos="['Nome', 'Descrição', 'Link']" v-bind:registros="registros"></tabela>

    </div>

    <script type="text/javascript">        

        Vue.component('tabela', {
            props: ['titulos', 'registros'],
            template: '<table style="width:100%">'+
                '<thead>'+
                    '<tr>'+
                        '<th v-for="titulo in titulos">{{titulo}}</th>'+                        
                    '</tr>'+
                '</thead>'+
                '<tbody>'+
                    '<tr v-for="registro in registros">'+
                        '<td v-for="item in registro">{{item}}</td>'+                       
                    '</tr>'+
                '</tbody>'+
            '</table>'
        });
       
        var app = new Vue({
            el:"#app",
            data: {               
                registros: [
                    {titulo:'Título 1', descricao: 'Descrição 1', link: 'Link 1'},
                    {titulo:'Título 2', descricao: 'Descrição 2', link: 'Link 2'},
                    {titulo:'Título 3', descricao: 'Descrição 3', link: 'Link 3'}
                ]
            }           
        });
        
    </script>
</body>
</html>