<!-- Formulários - Radio Button -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao Vue JS</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">                
        
        <p>Radio: {{sexo}}</p>
        <p>
            <input type="radio" id="masculino" value="M" v-model="sexo">
            <label for="masculino">Masculino</label>
            <input type="radio" id="feminino" value="F" v-model="sexo">
            <label for="feminino">Feminino</label>
        </p>
        
    </div>

    <script type="text/javascript">       

        var app = new Vue({
            el:"#app", 
            data: {                                              
                sexo: null
            }             
        });
        
    </script>
</body>
</html>